<div class="nf-mosaico-background">
    <img src="https://upload.wikimedia.org/wikipedia/en/b/bc/Interstellar_film_poster.jpg" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/2/2e/Inception_%282010%29_theatrical_poster.jpg" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/1/1c/The_Dark_Knight_%282008_poster%29.jpg" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/3/3b/Pulp_Fiction_%281994%29_poster.jpg" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/f/fb/Gladiator_%282000_film_poster%29.png" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/d/d6/Avatar_%282009_film%29_poster.jpg" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/e/e1/Joker_%282019_film%29_poster.jpg" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/f/fc/Fight_Club_poster.jpg" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/c/c1/The_Matrix_Poster.jpg" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/d/d8/The_Wolf_of_Wall_Street_%282013%29_poster.jpg" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/d/de/Parasite_%282019_film%29_poster.gif" class="nf-mosaico-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/b/bb/Titanic_poster.jpg" class="nf-mosaico-cover">
  </div>
<div class="login-container">
  <div class="login-box">
    <h2 class="login-title text-center">Accedi</h2>

    <form (ngSubmit)="onLogin()">
      <div class="mb-4">
        <label class="form-label text-white-50 small">Email</label>
        <input type="text"
               class="form-control custom-input"
               [(ngModel)]="email"
               name="email"
               placeholder="Inserisci la tua email">
      </div>

      <div class="mb-3"> <label class="form-label text-white-50 small">Password</label>
        <input type="password"
               class="form-control custom-input"
               [(ngModel)]="password"
               name="password"
               placeholder="Password">
      </div>

      <div class="mb-4 form-check custom-check">
        <input type="checkbox"
               class="form-check-input"
               id="checkRicordami"
               [(ngModel)]="ricordami"
               name="ricordami">
        <label class="form-check-label text-white-50 small" for="checkRicordami" style="cursor: pointer;">
          Ricordami su questo dispositivo
        </label>
      </div>
      <div *ngIf="errore" class="alert alert-danger py-2 small">{{errore}}</div>

      <button type="submit" class="btn btn-netflix w-100" [disabled]="caricamento">
        <span *ngIf="caricamento" class="spinner-border spinner-border-sm me-2"></span>
        {{ caricamento ? 'Accesso in corso...' : 'Accedi' }}
      </button>

      <div class="login-footer mt-4 text-center">
        <p>Nuovo su NetFilm? <a routerLink="/registrazione" class="text-white fw-bold text-decoration-none">Registrati ora</a>.</p>
        <small class="d-block mt-3 text-secondary">Questa pagina è protetta dai sistemi di sicurezza dell'esame.</small>
      </div>
    </form>
  </div>
</div>
